name: Build & Deploy Fullstack App to Render

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Run Maven Build (React + Spring Boot)
        run: mvn -B clean package -DskipTests

      - name: Upload artifact for Render
        uses: actions/upload-artifact@v3
        with:
          name: springboot-fullstack
          path: target/*.jar
