/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import the Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');